@{
    ViewData["Title"] = "About Me";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Some information about me.</p>

<h3>Social Media</h3>
<a href="mailto:itsmezomb@gmail.com"><img height="70" width="70" src="~/Assets/Images/email-icon.png"></a>
<a href="https://www.twitch.tv/zombmu"><img height="70" width="70" src="~/Assets/Images/twitch-icon.png"></a><br />
<a href="https://www.twitter.com/zombmu"><img height="70" width="70" src="~/Assets/Images/twitter-icon.png"></a>
<a href="https://www.youtube.com/channel/UCky8paRRmPtXcsjKBlH9KBw"><img height="70" width="70" src="~/Assets/Images/youtube-icon.png"></a><br />

