@{
    ViewData["Title"] = "About Me";
}
<link rel="stylesheet" type="text/css" href="~/css/DefaultStyle.css">

<h2>@ViewData["Title"]</h2>



<p><img align ="left" src="~/Assets/Images/profile_pic.jpg" width="50%" height="80%" hspace ="30"  />Hey there! I'm ZomBmu, a top Seattle DBFZ and BBTAG player. I'm always trying to improve and want to push myself to be the best player I can be!</p>

<p>I've been playing games competitively for over 10 years now. I started with smash and obscure fighting games, later made Grandmaster in Starcraft 2, after which I traveled while playing Persona 4 Arena, played DOTA2 at a Divine level, and most recently I've been focusing my efforts on DBFZ and BBTAG!</p>

<p>The controller I use is a bit unusual, it has buttons instead of a stick! It's called a Hit Box and you can learn more about it <a href="https://www.hitboxarcade.com" about="_blank">here</a></p>

<h3 id="socialmedia">Social Media</h3><br />
<a  href="mailto:itsmezomb@gmail.com"><img height="70" width="70" src="~/Assets/Images/email-icon.png"></a>
<a href="https://www.twitch.tv/zombmu"><img height="70" width="70" src="~/Assets/Images/twitch-icon.png"></a><br />
<a href="https://www.twitter.com/zombmu"><img height="70" width="70" src="~/Assets/Images/twitter-icon.png"></a>
<a href="https://www.youtube.com/channel/UCky8paRRmPtXcsjKBlH9KBw"><img height="70" width="70" src="~/Assets/Images/youtube-icon.png"></a><br />

