@{
    ViewData["Title"] = "Social Media";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <a href="mailto:itsmezomb@gmail.com">Email Me</a><br />
    <a href="https://www.twitch.tv/zombmu">Twitch</a><br />
    <a href="https://www.twitter.com/zombmu">Twitter</a><br />
    <a href="https://www.youtube.com/channel/UCky8paRRmPtXcsjKBlH9KBw">YouTube</a><br />
</address>
