/*
    Color Scheme, Dark to Light
    #31231E
    var(--main-bg-color)
    var(--second-text-color)
    #84714F
    var(--main-header-color)
    var(--main-text-color)
*/

:root{
    --main-bg-color: #78C0E0;
    --main-header-color: #0E0E52;
    --main-text-color: #000000;
    --main-link-color: #3943B7;
    --second-bg-color: #449DD1;
    --third-bg-color: #339CC0;
}

body {
    background-color: var(--main-bg-color);
}

h1, h2, h3 {
    color: var(--main-header-color);
    font-weight: bold;
    display: inline-block;
    text-align: center;
    left: 0;
    width: 100%;
}

p {
    color: var(--main-text-color);
}

td, th {
    border: 1px outset var(--main-header-color);
    padding: 2px;
    color: var(--main-header-color);
    text-decoration: solid;
}

a{
    color: var(--main-link-color);
    text-decoration:underline;
}

tr {
    color: var(--main-text-color);
}

tr:nth-child(odd) {
    background-color: var(--third-bg-color);
}

th,tr:nth-child(even) {
    background-color: var(--second-bg-color);
}

#socialmedia {
    color: var(--main-header-color);
    font-weight: bold;
    display: unset;
    text-align: center;
    width: unset;
}